<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.siddhesh.kulkarni.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegistration</servlet-name>
  	<display-name>UserRegistration</display-name>
  	<description></description>
  	<servlet-class>com.siddhesh.kulkarni.UserRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PersonalInfo</servlet-name>
  	<display-name>PersonalInfo</display-name>
  	<description></description>
  	<servlet-class>com.siddhesh.kulkarni.PersonalInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewUserAccount</servlet-name>
  	<display-name>ViewUserAccount</display-name>
  	<description></description>
  	<servlet-class>com.siddhesh.kulkarni.ViewUserAccount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassword</servlet-name>
  	<display-name>ForgotPassword</display-name>
  	<description></description>
  	<servlet-class>com.siddhesh.kulkarni.ForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPassword</servlet-name>
  	<display-name>ResetPassword</display-name>
  	<description></description>
  	<servlet-class>com.siddhesh.kulkarni.ResetPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Transaction</servlet-name>
  	<display-name>Transaction</display-name>
  	<description></description>
  	<servlet-class>com.siddhesh.kulkarni.Transaction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewTransaction</servlet-name>
  	<display-name>ViewTransaction</display-name>
  	<description></description>
  	<servlet-class>com.siddhesh.kulkarni.ViewTransaction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.siddhesh.kulkarni.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegistration</servlet-name>
  	<url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PersonalInfo</servlet-name>
  	<url-pattern>/PersonalInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewUserAccount</servlet-name>
  	<url-pattern>/ViewUserAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword</servlet-name>
  	<url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Transaction</servlet-name>
  	<url-pattern>/Transaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewTransaction</servlet-name>
  	<url-pattern>/ViewTransaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
      <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
